lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/server.iml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea/shuanglongMovie.iml
