/**
 * Created by 包俊 on 2017/7/9.
 */

let service = "P";

exports.WebRoot = function () {
  if (service === "T") {
    return "Your mongodb address";
  } else if (service === "P") {
    return "Your mongodb address";
  }
};